@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --white: #ffffff;
  --cor-c1: #f7f7f7;
  --cor-c2: #ededed;
  --cor-c3: #dedede;
  --cor-c4: #cccccc;
  --cor-c5: #b2b2b2;
  --cor-c6: #9c9c9c;
  --cor-c7: #717171;
  --cor-c8: #595959;
  --cor-c9: #404040;
  --cor-c10: #2e2e2e;
  --cor-c11: #111111;
  --cor-c12: #000000;
  --cor-p1: #bf00ff;
  --cor-p2: #a80be5;
  --cor-p3: #881ecf;
  --cor-p4: #5c2681;
  --cor-p5: #170e1d;

  --font-poppins: "Poppins", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

body,
h1,
p,
h2,
h3,
ul,
header,
section,
footer {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

body {
  background-color: var(--cor-c12);
  font-family: var(--font-poppins);
  color: var(--white);
}

form label {
  display: block;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
}

.menu ul {
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
}

.menu img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
}

.botao-decorado {
  color: var(--white);
  font-family: var(--font-poppins);
  text-transform: uppercase;
  padding: 12px 14px;
  background: linear-gradient(#5c2681, #a80be5);
  border-radius: 4px;
  font-weight: 600;
}

.botao-decorado a {
  padding: 12px 14px;
}

.botao-decorado:hover {
  background: linear-gradient(#532372, #9c10d3);
}

.divisor {
  margin-top: 200px;
  width: 100%;
  height: 1px;
  background-color: var(--cor-p4);
}

.footer {
  padding-top: 50px;
  flex-direction: column;
  gap: 10px;
  font-size: 0.75rem;
}

.logo {
  padding-top: 130px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 800px) {
  .container {
    justify-content: center;
  }
  .botao-decorado {
    display: none;
  }

  .footer {
  font-size: 0.6rem;
}
}
